# .gitignore

# Environment variables
.env

# Python cache files
__pycache__
*.pyc

# Uploaded files
uploads/

# IDE/project-specific files (optional)
.idea/  # If using PyCharm
*.vscode/  # If using VS Code
*.log

# Virtual environment
venv/
env/.env
